  <button ion-button>a button inside another module</button>
<!--

<keyboard-button content='1'></keyboard-button>
<keyboard-button content='2'></keyboard-button>
<keyboard-button content='3'></keyboard-button>
<keyboard-button content='4'></keyboard-button>
<keyboard-button content='5'></keyboard-button>
<keyboard-button content='6'></keyboard-button>
<keyboard-button content='7'></keyboard-button>
<keyboard-button content='8'></keyboard-button>
<keyboard-button content='9'></keyboard-button>
<ion-grid>
    <ion-row>
            <ion-col width-33>1</ion-col>
            <ion-col width-33>2</ion-col>
            <ion-col width-33>3</ion-col>
    </ion-row>
    <ion-row>
            <ion-col width-33>4</ion-col>
            <ion-col width-33>5</ion-col>
            <ion-col width-33>6</ion-col>
    </ion-row>
    <ion-row>
            <ion-col width-33>7</ion-col>
            <ion-col width-33>8</ion-col>
            <ion-col width-33>9</ion-col>
    </ion-row>
</ion-grid>
-->